<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./partials/meta.ejs') %>
		<%- include('./partials/title.ejs') %>
</head>

<body>
	<form action="#" method="post" name="register-form">
		<input type="text" placeholder="name">
		<button>Register</button>
	</form>
</body>

</html>