<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('./partials/meta.ejs') %>
	<%- include('./partials/title.ejs') %>
</head>
<body>
	User List
	<%- include('./partials/userCard.ejs') %>
</body>
</html>