<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('./partials/meta.ejs') %>
	<%- include('./partials/title.ejs') %>
	<%- include('./partials/css.ejs') %>
</head>
<body>
	User List
	<div class="user-cards">
		<%- include('./partials/userCard.ejs') %>
	</div>
</body>
</html>